.header {
	background:#edeef2;
	height: 900px;
}
/*первый ров*/
.today__title {
background: #70757c;
padding:4px 6px;
border-radius: 17px;
width:100px;
display: block;
min-width: 20px;
text-align: center;
cursor: pointer;
margin:55px 0;
font-weight: 700;
color:#fff;
font-size: 16px;
overflow: auto;
}
/*второй ров*/
.first-person {
margin-bottom:40px;
}
.first-person__image {
margin-right:20px;
}
/*аватарка первого*/
.ava1 {
border-radius: 50%;
}

.first-person__area {
background:#ffffff;
border-radius: 7px;
padding-top:23px;
padding-left: 16px;
padding-right: 16px;
overflow: auto;
}
.first-person__area_massage {
color:#1A1A1A;
font-weight: 500;
overflow:auto;
}
.first-person__area_massage p {
	overflow:auto;
}
.first-person__area_details a {
margin-right: 15px;
color:grey;
font-size: 14px;
display: block;
overflow:auto;
}
.buttons {

}
.time {
	flex:1;

}
.time__p {
	display:inline-block;
	min-width: 30px
	color:color:#AFAFAF;
 	font-size: 14px;
 	float:right;
 	text-align:right;
 	max-width:70px;
 	overflow:auto;
 	font-weight: 500;
 	position: relative;
}
.time__p_color {
	color:#AFAFAF;
}
/*второй ров*/
.second-person__area {
background:#636979;
border-radius: 7px;
padding-top:23px;
padding-left: 16px;
padding-right: 16px;
overflow: auto;
margin-bottom:40px;
}
.second-person__area_massage {
color:#E9E9E9;
font-weight: 500;
overflow:auto;
}
.second-person__area_massage p {
	overflow:auto;
}
.time__i {
	display:inline-block;
	margin-right:10px;
	margin-top:3px;
}
/*TYPING ROW*/
.typing {
margin-bottom:40px;
}
.typing__figure_1 {
width: 15px;
height: 15px;
background:#c1dceb;
border-radius: 50%;
margin-top:3px;
}
.typing__figure_2 {
width: 15px;
height: 15px;
background:#63b3df;
border-radius: 50%;
margin-right: 5px;
margin-left: 5px;
margin-top:3px;
}
.typing__figure_3 {
width: 15px;
height: 15px;
background:#0e91d7;
border-radius: 50%;	
margin-top:3px;
}
.typing__text {
margin-left: 30px;
font-size: 13px;
color:#b6b7be;
overflow:auto;
}
/*INPUT ROW*/
.input-message {
	width:100%;
	border:none;
	/*padding:10px 15px;*/
}
.input-block {
	background: #fff;
	padding:10px 15px;
}
.actions {
margin-bottom:10px;
margin-right: 10px;
}
.actions__message {
display: inline-block;
}
.actions__submit {
display: inline-block;
float:right;
}
.send-btm {
	padding:10px 35px;
	background: #0793dc;
	border-radius: 20px;
	color:#fff;
	font-weight: 400;
	cursor: pointer;
	overflow: auto;
}
.send-btm:hover {
	text-decoration: none;
	color:#0793dc;
	background: #fff;
	border:1px solid grey;
}
.act {
	margin:0 10px;
	color:grey;
}
.act:hover {
	text-decoration: none;
	color:lightgrey;
}
.act-read {
	color:#AFAFAF;

}
.act-read:hover {
	color:lightgrey;
	text-decoration: none;
	
}